/*div {
  width: 100px;
  float: left;
}

#one {
  background: gray;
}

#two {
  background: black;
  color: white;
}
*/
body {
  font-family: 'PT Sans', sans-serif;
}

img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

p {
  color: red;
  margin: 1.66%;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  width: 30%;

}
