/*@import url( "http://fonts.googleapis.com/css?family=Open+Sans:400,300" );

* { margin: 0; padding: 0; }*/

html
{
  /*background: #C7B7A7 url( "http://www.ianmankin.co.uk/ekmps/shops/ianmankinltd/images/chelsea-off-white-swatch-6436-p.jpg" );*/
  height: 100%;
  -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}

h1
{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin-top: 15px;
  text-align: left;
  margin-left: 20px;
  color: rgba(0,0,0, .5);
}

h1 a { color: #888; text-decoration: none; }

.content
{
  position: relative;
  top: 30px;
  width: 250px;
  float: left;
  margin-left: 10px;
}
.top
{
  position: relative;
  top: 10px;
  width: 250px;
  float: left;
  margin-left: 10px;
}

#admin
{
  background: #F8F8F8;
  width: 240px;
  height: 40px;
  color: #888;
  border: none;
  border-radius: 3px;
  padding: 0 0 0 10px;
  font: bold 13px Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 41px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-bottom: 7px;
  box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
}

#settings
{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 14px 0 0;
  border: none;
  outline: none;
  color: #888;
  font-size: 20px;
}

#admin_settings, #settings { cursor: pointer; }

#settings:hover { color: #555; }

#menu { display: none; }

#menu a
{
  display: block;
  background: #F8F8F8;
  width: 240px;
  height: 40px;
  padding: 0 0 0 10px;
  font: bold 13px Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  line-height: 40px;
  box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.2 );
}

#menu a:nth-child( 2 )
{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#menu a:last-child
{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#menu a:hover { color: #555; }

#menu a:hover > .octicon { color: #555; }

#icon
{
  float: right;
  margin-top: 10px;
  font-size: 20px;
  color: rgba( 0, 0, 0, 0.4 );
  opacity: 0.8;
}

.octicon-organization { margin-right: 16px; }
.octicon-person { margin-right: 16px; }
.octicon-rocket { margin-right: 11px; }
.octicon-cloud-upload { margin-right: 11px; }
.octicon-pencil { margin-right: 13px; }

#arrow
{
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #F8F8F8;
  margin-left: 15px;
}

/*added*/

#logo {
  margin: 0 auto;
  margin-top: 11px;
}



body {
  font-family: 'Poiret One', cursive;
}

div {
  background-color: rgba(255,255,255, 0);
  display: block;
  margin: 0 auto;
  max-width: 700px;
  border-radius: 8px;
  padding: 11px;
  margin-bottom: 11px;
}

table {
  width: 500px;
  background-color: rgba(224, 224, 224, .5);
  display: block;
  margin: 0 auto;
  padding: 11px;
  border-radius: 11px;
  font-size: 12px;
}

tr {
width: 400px;
}

.polaroids {
  width: 400px;
}

.digitals {
font-size: 9.75px;
}

caption {
  margin-top: 15px;
}

.registration {
  font-family: times;
  float: center;
}





