body {
  display: block;
  background-image: url(http://modelcallbacks.com/images/alice.png);
  background-size: cover;
  font-family: 'Cantarell', sans-serif;
}

h1 {
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 23px;
}

h3 {
  color: black;
  font-size: 20px;
  margin: 5px;
}

span {
/*  color: #9C1E44;*/
color: #1A95A8;
}

.loginHead {
  font-size: 11px;
  margin-left: 30px;
}

.headings {
    margin-left: 20px;
    background: rgba(200,200,200,.4);
    padding: 4px;
    width: 39.3%;
    display: block;
    border-radius: 8px;
    margin-top: 11px;
    min-width: 210px;
    text-align: left;
}

#logo {
  margin-left: 7px;
  margin-top: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.75);
    width: 40%;
    margin-left: 20px;
    border-radius: 8px;
    min-width: 220px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 7px;
    text-decoration: none;
    font-size: smaller;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#486D67;
}


/*.footerMenu {*/
    list-style-type: none;
/*    margin: 0;
    padding: 0;*/
    line-height: 11px;
    font-size: 9px;
    overflow: hidden;
    background-color: #333;
    width: 15%;
    margin-left: 20px;
    border-radius: 8px;
    color: green;
}

.talentMenu {
   /*padding: 3px 4px;*/
   /*float: left;*/
 /*  float: center;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.75);
    width: 20%;
    margin-left: 20px;
    border-radius: 8px;
    min-width: 220px;
}

button {
  font-size: 21px;
  float: left;
  margin-right: 11px;
  border-radius: 8px;
}

form {
  float: left;
  margin-right: 15px;
  margin-left: 20px;
  padding: 11px;
  width: 20%;
  background: rgba(200,200,200,.4);
  border-radius: 8px;
  min-width: 200px;
}

footer {
font-size: 11px;
width: 370px;
margin: 20px auto;
background: rgba(200,200,200,.4);
border-radius: 8px;
text-align: center;
}

.foot {
  min-width: 1000px;
}

section {
  max-width: 1180px;
  margin: auto;
}
